h1 {
    color: #953456;
    font-size: 20px;
  }  
.imagensCafe{
    text-align: center;
  }
    body{
        background-color: #242323;
    }
#banner {
            width: 100%;
            height: 100px;
            background-color: #000000;
            color: #fff;
            text-align: center;
            line-height: 100px;
            position: relative;
            overflow: hidden;
            font-size: 40px;
            margin: 0;
        }

#mensagem {
    position: absolute;
    left: -200px; /* Inicialmente, a mensagem está fora da tela à esquerda */
    white-space: nowrap;
}
   

        /* Estilos para o contêiner das imagens */
.image-container {
    display: flex; /* Use flexbox para alinhar as imagens lado a lado */
    justify-content: center; /* Centralize horizontalmente */
}

      /* Estilos para cada imagem */
.image-container img {
    width: 300px; /* Defina a largura desejada para as imagens */
    margin-right: 20px; /* Adicione um espaço entre as imagens (opcional) */
    margin-top: 20px; /* adiciona espaco entre o paragrafo de cima*/
}
footer{
	text-align: center;
	background-color: #000000;
	margin: 20px 0 0;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}
header{
	background: #000000;

}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
    

}


.imagens{
    width: auto;
}

.filme{
    width: 10%;
    display: inline-flex;
    margin-left: 10px;
    margin-right: 5px;
}
#log{
    width: 10%;
}
form {
    font-size: 30px;
    font-style: bold;
}